<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sojson.common.dao.URolePermissionMapper" >
  <resultMap id="BaseResultMap" type="com.sojson.common.model.URolePermission" >
    <result column="rid" property="rid" jdbcType="BIGINT" />
    <result column="pid" property="pid" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="com.sojson.common.model.URolePermission" >
    insert into u_role_permission (rid, pid)
    values (#{rid,jdbcType=BIGINT}, #{pid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.sojson.common.model.URolePermission" >
    insert into u_role_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        rid,
      </if>
      <if test="pid != null" >
        pid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        #{rid,jdbcType=BIGINT},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>